<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <div class="nav-link active" href="#">
          <h2>Formations</h2>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Ajouter une formation</a>
      </li>
	  <li class="nav-item ml-auto searchInput">
      <div class="col-auto">
        <div class="input-group">
          <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Rechercher">
          <div class="input-group-prepend">
          <div class="input-group-text"><i class="fas fa-search"></i></div>
          </div>
        </div>
		  </div>
	  </li>
    </ul>
  </div>
  <div class="card-body d-flex justify-content-between">
	  <!-- ---------------------------------- -->
    <div class="left col col-lg-9">
    <table style="width: 100%;">
      <thead>
        <tr>
          <th class="tg-baqh">
            <a class="btn btn-primary" href="#">
              PRSIN5AA
              <br />
              Master Informatique parcours FSI
              <br />
            </a>
          </th>
          <th class="tg-baqh">
            <a class="btn btn-primary" href="#">
              PRSIN5AA
              <br />
              Master Informatique parcours FSI
              <br />
            </a>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th class="tg-baqh">
            <a class="btn btn-primary" href="#">
              PRSIN5AA
              <br />
              Master Informatique parcours FSI
              <br />
            </a>
          </th>
          <th class="tg-baqh">
            <a class="btn btn-primary" href="#">
              PRSIN5AA
              <br />
              Master Informatique parcours FSI
              <br />
            </a>
          </th>
        </tr>
        <tr>
          <th class="tg-baqh">
            <a class="btn btn-primary" href="#">
              PRSIN5AA
              <br />
              Master Informatique parcours FSI
              <br />
            </a>
          </th>
          <th class="tg-baqh">
            <a class="btn btn-primary" href="#">
              PRSIN5AA
              <br />
              Master Informatique parcours FSI
              <br />
            </a>
          </th>
        </tr>
        <tr>
          <th class="tg-baqh">
            <a class="btn btn-primary" href="#">
              PRSIN5AA
              <br />
              Master Informatique parcours FSI
              <br />
            </a>
          </th>
          <th class="tg-baqh">
            <a class="btn btn-primary" href="#">
              PRSIN5AA
              <br />
              Master Informatique parcours FSI
              <br />
            </a>
          </th>
        </tr>
        <tr>
          <th class="tg-baqh">
            <a class="btn btn-primary" href="#">
              PRSIN5AA
              <br />
              Master Informatique parcours FSI
              <br />
            </a>
          </th>
          <th class="tg-baqh">
            <a class="btn btn-primary" href="#">
              PRSIN5AA
              <br />
              Master Informatique parcours FSI
              <br />
            </a>
          </th>
        </tr>
        <tr>
          	<td colspan="2">
				  <div style="display: flex; justify-content: center">
				<div class="btn btn-secondary" style="margin: 5px; width: 30px;">&lt;</div>
				<div class="btn btn-secondary" style="margin: 5px; width: 30px;">1</div>
				<div class="btn btn-secondary" style="margin: 5px; width: 30px;">2</div>
				<div class="btn btn-secondary" style="margin: 5px; width: 30px;">3</div>
				<div class="btn btn-secondary" style="margin: 5px; width: 30px;">4</div>
				<div class="btn btn-secondary" style="margin: 5px; width: 30px;">5</div>
				<div class="btn btn-secondary" style="margin: 5px; width: 30px;">&gt;</div>
			</div>
			</td>
        </tr>
      </tbody>
    </table>
  </div>
	<!-- ---------------------------------- -->
  <div class="col col-lg-3">
    <div class="card btn-upload">
      <div class="card-header">
        Importer une année de formations
      </div>
      <div class="card-body" style="display: flex; flex-direction: column;">
        <a class="btn btn-info" href="#">
          Charger un CSV de formation.<br/>
          <i class="fas fa-upload"></i>
        </a>
        <div class="text-muted text-medium">
          ---
        </div>
        <a class="btn btn-success">
          Valider
        </a>
      </div>
    </div>
  </div>
</div>