<hr/>
<div class="footer text-center">
    <img class="logo" src="../../../assets/EPU_logo_full.png"/>
    <div class="d-flex justify-content-center text-secondary">
        <span>Alexandre BARONI</span>
        <span>Charlotte CABOUAT</span>
        <span>Loïc FORESTIER</span>
        <span>Victoria NIABA</span>
    </div>
</div>

<div class="body">
    <div class="container">
      <div class="bdaycake">
        <div class="holder"></div>
        <div class="holder2"></div>
        <div class="holder1"></div>
        <div class="shadow"></div>
        <div class="cake">
          <div class="top"></div>
          <div class="chocolate"></div>
          <div class="chocolate1"></div>
          <div class="chocolate2"></div>
        </div>
        <div class="candle"></div>
        <div class="candle1"></div>
        <div class="text">Happy birthday Charlotte</div>
        <div class="flame"></div>
      </div>
    </div>
  </div>