.stats-container {
    display: flex;
    flex-wrap: wrap;
}
.stats-item {
    border-left: none;
    border-right: none;
}
.list-group-item {
    padding-top: 2px;
    padding-bottom: 2px;
}
.list-group-item .list-group-item {
    border-color: rgba($color: #0f7864, $alpha: 0.2);
}

@media (max-width: 600px) {
    .customflex {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
}

@media (min-width: 1200px) {
    .chart {
        width: 50%;
        height: 100%;
    }
    .responsiveLine {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .stats-container {
        width: 40%;
    }
    .list-group-item {
        text-align: left;
    }
}