<!-- stats -->
<div #statistics class="card text-center h">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <div class="nav-link active" href="#">
          <h2 *ngIf="!step">Statistiques</h2>
          <h2 *ngIf="step">{{step.step_name}}</h2>
        </div>
      </li>
    </ul>
  </div>
  <div *ngIf="step" class="stats">
    <div class="stats-line">
      <ul class="stats-item">
        <li *ngFor="let stepIn of step.steps_in">{{stepIn.step_code}} : {{stepIn.number}}</li>
      </ul>
      <div class="stats-item">
        <div
          echarts
          (chartInit)="onChartInit1($event)"
          [options]="options1"
          class="chart-stats-1"
          id="chartStats1"
        ></div>
      </div>
    </div>
    <div class="stats-line">
      <ul class="stats-item">
        <li *ngFor="let stepOut of step.steps_out">{{stepOut.step_code}} : {{stepOut.number}}</li>
      </ul>
      <div class="stats-item">
        <div
          echarts
          (chartInit)="onChartInit2($event)"
          [options]="options2"
          class="chart-stats-1"
          id="chartStats2"
        ></div>
      </div>
      <!-- Ajout de la liste des formations lié <= récupération par requête lors du setFormation() -->
    </div>
  </div>
  <div *ngIf="!step" class="stats">
    <div class="text-center text-white bg-primary" style="margin: 40px 0px">Cliquez sur une formation pour en afficher les statistiques</div>
  </div>
</div>
