<div class="container">
  
  <div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <div class="nav-link active" href="#">
            <h2>Parcours des étudiants</h2>
          </div>
        </li>
        <li class="nav-item searchInput">
            <div class="input-group">
              <div class="group-step">
                <label>Étape de départ</label>
                <a class="epu-tooltip">
                  <i class="fas fa-info-circle"></i>
                  <span class="tooltiptext">Tooltip text 1</span>
                </a>
              </div>
              <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Rechercher">
              <div class="input-group-prepend">
              </div>
            </div>
            <div>
              <br/>
              <i class="fas fa-arrow-right"></i>
            </div>
          <div class="input-group">
            <div class="group-step">
              <label>Étape d'arrivée</label>
              <a class="epu-tooltip">
                <i class="fas fa-info-circle"></i>
                <span class="tooltiptext">Tooltip text 2</span>
              </a>
            </div>
            <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Rechercher">
            <div class="input-group-prepend">
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="chart">
      <div echarts id="EPU-chart" [options]="options" (chartClick)="chartClicked($event)"></div>
    </div>
    <div class="card-footer">
      <div class="slidecontainer">
        Nombre de parcours à afficher : {{0}}
        <input type="range" min="1" max="20" value="10" class="slider" id="myRange">
      </div>
  </div>
</div>
<br/>
    <div class="card text-center">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <div class="nav-link active" href="#">
              <h2>Statistiques</h2>
            </div>
          </li>
        </ul>
      </div>
      <div class="stats">
        <div class="stats-line">
          <div class="stats-item">Anim nisi fugiat reprehenderit laborum eu exercitation tempor voluptate sit elit et labore laboris elit. Ullamco in irure non aute consectetur deserunt occaecat non do cupidatat anim proident sint cillum. Voluptate elit commodo pariatur excepteur irure deserunt deserunt dolor aute.</div>
          <div class="stats-item">
            <div echarts (chartInit)="onChartInit($event)" [options]="options_stats_2" class="chart-stats-1"></div>
          </div>
      </div>
      <div class="stats-line">
        <div class="stats-item">Anim nisi fugiat reprehenderit laborum eu exercitation tempor voluptate sit elit et labore laboris elit. Ullamco in irure non aute consectetur deserunt occaecat non do cupidatat anim proident sint cillum. Voluptate elit commodo pariatur excepteur irure deserunt deserunt dolor aute.</div>
        <div class="stats-item">
          <div echarts (chartInit)="onChartInit($event)" [options]="options_stats_2" class="chart-stats-1"></div>
        </div>
    </div>
      </div>
    </div>
</div>