<div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <div class="nav-link active" href="#">
            <h2>Parcours des étudiants</h2>
          </div>
        </li>
        <li class="nav-item searchInput">
          <div class="input-group">
            <div class="group-step">
              <label>Étape de départ</label>
              <a class="epu-tooltip">
                <i class="fas fa-info-circle"></i>
                <span class="tooltiptext">Vous pouvez indiquer votre étape de formation ou votre formation générale</span>
              </a>
            </div>
            <!---->
            <div class="ng-autocomplete">
              <ng-autocomplete
                #searchStart
                [data]="dataSearch"
                [searchKeyword]="keyword"
                placeholder="Je suis en ..."
                (selected)="selectEventStart($event)"
                [itemTemplate]="itemTemplate"
                [notFoundTemplate]="notFoundTemplate"
              ></ng-autocomplete>
              <!-- (inputChanged)="onChangeSearchStart($event)" -->

              <ng-template #itemTemplate let-item>
                <div class="d-flex flex-column text-left flex-sm-wrap inside">
                  <a [innerHTML]="item.code" class="top text-secondary"></a>
                  <a [innerHTML]="item.name" class="bottom"></a>
                </div>
              </ng-template>

              <ng-template #notFoundTemplate let-notFound>
                <div [innerHTML]="notFound"></div>
              </ng-template>
              <div *ngFor="let node of nodesStart" class="searchItems">
                <div class="badge badge-success" (click)="removeFromNodeStart(node)">{{node.name}}</div>
              </div>
            </div>
            
            <div class="input-group-prepend"></div>
          </div>
          <div>
            <br />
            <i class="fas fa-arrow-right"></i>
          </div>
          <div class="input-group">
            <div class="group-step">
              <label>Étape d'arrivée</label>
              <a class="epu-tooltip">
                <i class="fas fa-info-circle"></i>
                <span class="tooltiptext">Vous pouvez indiquer votre étape de formation ou votre formation générale</span>
              </a>
            </div>
            <!---->
            <div class="ng-autocomplete">
              <ng-autocomplete
                #searchEnd
                [data]="dataSearch"
                [searchKeyword]="keyword"
                placeholder="Je vais en ..."
                (selected)="selectEventEnd($event)"
                [itemTemplate]="itemTemplate2"
                [notFoundTemplate]="notFoundTemplate2"
              ></ng-autocomplete>
              <!-- historyIdentifier="getFormation()"
                (inputChanged)="onChangeSearchEnd($event)" -->
              <ng-template #itemTemplate2 let-item>
                <div class="d-flex flex-column text-left flex-sm-wrap inside">
                  <a [innerHTML]="item.code" class="top text-secondary"></a>
                  <a [innerHTML]="item.name" class="bottom"></a>
                </div>
              </ng-template>

              <ng-template #notFoundTemplate2 let-notFound>
                <div [innerHTML]="notFound"></div>
              </ng-template>

              <div *ngFor="let node of nodesEnd" class="searchItems">
                <div class="badge badge-danger" (click)="removeFromNodeEnd(node)">{{node.name}}</div>
              </div>
            </div>
            <!---->
            <div class="input-group-prepend"></div>
          </div>
        </li>
      </ul>
    </div>
    <div class="graphBox">
      <div class="chart">
        <div
          echarts
          id="EPU-chart"
          [options]="chartOptions"
          (chartClick)="chartClicked($event)"
          (chartInit)="onChartInit($event)"
          class="echart"
        ></div>
      </div>
      <div class="path-list" *ngIf="uniquePaths != []">
        <div class="d-flex flex-wrap f-width">
          <div class="f-width" *ngFor="let path of uniquePaths | slice:0:slideValue; let index = index;">
            <a [ngClass]="index==pathSelectedIndex? 'badge-primary' : 'badge-secondary'"
            ngbPopover="{{pop(index + 1)}}" triggers="mouseenter:mouseleave" container="body" popoverClass="popoverClass"
            class="badge f-width" style="margin: 1px;" (click)="switchPath(index)">
              {{path.getNbStudent()*100/totalStudentPaths | number:'1.0-1'}}% :: Cheminement {{ index + 1 }}
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- Affichage simple -->
    <!--
    <div>
      <div class="btn btn-outline-primary disabled" style="width: 100%;">Total : {{totalStudentPaths}}</div>

      <div class="simplePathsDisplay" *ngFor="let path of paths; let ind = index" style="padding: 0px 5px">

        <div class="text-danger">{{path.getNbStudent()}} :: {{path.getNbStudent()*100/totalStudentPaths | number:'1.0-1'}}%</div> &nbsp;
        <div class="text-warning">{{getFirstStep().step_name}}</div>

        <div *ngFor="let step of path.path_steps; let index = index"> 
          <div class="text-primary" style="margin: 0px 10px; font-size: 10px;">
            <i class="fas fa-minus" style="align-self: center;"></i>
            <div style="align-self: center;">{{path.getSteps(index).step_number}}</div>
            <i class="fas fa-arrow-right" style="align-self: center;"></i>
          </div>
          <a class="badge badge-info" style="align-self: center;" (click)="stepClick(path.getSteps(index).step_code)">{{path.getSteps(index).step_code}}</a>
        </div>

      </div>
    </div>-->
    <!-- fin de l'affichage simple -->
    <div class="card-footer">
      <div class="slidecontainer">
        Nombre de chemins à afficher : {{ slideValue }} / {{ paths.length }}
        <input
          type="range"
          min="1"
          max= "{{uniquePaths.length}}"
          [value]= "slideValue"
          (input)="valueChanged($event.target.value)"
          class="slider form-control-range"
          id="myRange"
        />
      </div>
    </div>
  </div>