.box {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}
.box-item {
    padding: 1px;
    flex: 50%;
}
.btn-primary {
    padding:10px;
    height: 100%;
}
.formation-code {
    font-weight: lighter;
    opacity: 80%;
    text-decoration: underline;
}
.formation-name {
    font-weight: bold;
}
.pagination-numbers {
    padding: 5px;
    margin: 2px 0px;
    display: flex;
    justify-content: center;
}